/*////////////////////
  mixin
////////////////////*/

$light-red: #d7000f;
$dark-red: #990000;
$base-yellow: #fdd001;
$light-black: #010101;
$light-gray: #ccd1d4;

@mixin inner_img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin submit {
  //display: inline-flex;
  width: 12rem;
  height: 6rem;
  margin: 0 auto;
  background: $dark-red;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  &:hover {
    background: $light-red;
    transition: all 0.5s ease;
  }
}

/* media query //////////*/
//$pc: 960px;
$tab: 959px;
$sp: 559px;

/*
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
*/

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
