/*////////////////////
  mixin
////////////////////*/

$light-red: #d7000f;
$dark-red: #990000;
$base-yellow: #fdd001;
$light-black: #010101;
$light-gray: #ccd1d4;

@mixin submit {
  padding: 1.5rem 3rem;
  background: $dark-red;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  &:hover {
    background: $light-red;
    transition: all 0.5s ease;
  }
}

@mixin link {
  display: inline-flex;
  padding: 1.5rem 3rem;
  background: $dark-red;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  &:hover {
    background: $light-red;
    transition: all 0.5s ease;
  }
}

/* media query //////////*/
//$pc: 960px;
$tab: 959px;
$sp: 559px;

/*
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
*/

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
